body {
  background-color: gold;
}

.container {
  width: 1000px;
  height: 400px;
  /* background-color: pink;
  background-image: url("./../images/css.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0; */
  background: pink url("./../images/css.jpg") no-repeat 50% 0 / contain;
}
