div,
span {
  font-size: 48px;
}

.box1 {
  background-color: gold;
  position: absolute;
}
.box2 {
  background-color: pink;
}
.box3 {
  background-color: lightsalmon;
}
.box4 {
  background-color: lightskyblue;
}
.box5 {
  background-color: orange;
  position: relative;
}
