* {
  box-sizing: border-box;
}

.body {
  margin: 50px;
}

.box {
  width: 1020px;
  border: 10px solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 20px;
  padding: 20px;
  background-color: silver;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box1 box1 box3 box4"
    "box1 box1 box5 box5";
}

.box1 {
  grid-area: box1;
  background-color: yellow;
  /* grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3; */
}
.box2 {
  grid-area: box2;
  background-color: lightblue;
  /* grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 5; */
}
.box3 {
  grid-area: box3;
  background-color: lightseagreen;
  /* grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4; */
}
.box4 {
  grid-area: box4;
  background-color: lightsalmon;
  /* grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5; */
}
.box5 {
  grid-area: box5;
  background-color: lightcoral;
  /* grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 5; */
}
