table {
  border-spacing: 0;
  /* https://developer.mozilla.org/ko/docs/Web/CSS/border-collapse */
  border-collapse: collapse;
}

th,
td {
  border: 1px solid blue;
}

thead th {
  background-color: lime;
}

.headerCell {
  background-color: aquamarine;
}
